/.idea/
/django_server/db.sqlite3
/react_ui/static/build/
/react_ui/public/build/
/react_ui/node_modules/
.DS_Store
__pycache__
/react_ui/yarn-error.log
/react_ui/build/
/django_server/olmap_config/local_settings.py
/Pipfile
/Pipfile.lock
/django_server/staticfiles/
/django_server/.coverage
/django_server/uploads/
/tunnel_db.sh
/update_qa_server.sh
/update_prod_server.sh
/scripts/all_entrances.json
/scripts/common_entrances.json
/scripts/osoitehaavi-hki.gpkg
/scripts/hki_osoiteluettelo_cleaned.json
/scripts/hki_osoiteluettelo.json
/scripts/entrances_with_distance.json
/scripts/temp/
/scripts/osm_building_entrance_addresses.json
*.egg-info/
.venv/
