[run]
omit =
    olmap_config/asgi.py
    olmap_config/wsgi.py
    olmap_config/settings.py
    # 3rd party library added to repo for convenience:
    drf_jsonschema/*
    */migrations/*
    # Measure coverage of application code, not the tests themselves:
    */*_tests.py
    manage.py
