[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = ">=3.0"
djangorestframework = ">=3.10"
pyaml = ">=19.4"
uritemplate = ">=3.0"
coreapi=">=2.3"
django-cors-headers=">=3.2"
django-rest-auth=">=0.9"
django-allauth=">=0.41"
jsonschema=">=3.2"
twilio=">=6.35"
uuid = "*"
psycopg2-binary = ">2.8"
flake8 = ">=3.7"
coverage=">=5.0"
Pillow=">=7.0"
dj-inmemorystorage=">=2.0"
gunicorn=">=20.0"
sentry-sdk=">=0.14.1"
geocoder = ">=1.38"
smsframework_gatewayapi = "*"
elastic-apm = ">=5.5"
geopy = "*"
pyproj = ">=2.6.1"
overpy = "*"
django-rename-app = "*"
shapely = "*"
google-cloud-translate = "*"

[requires]
python_version = "3.11"
