// Define FVH color palette to override default Bootstrap colors:

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #d70074;
$orange:  #FF5000;
$yellow:  #Ffd650;
$green:   #28a745;
$teal:    #009E92;
$cyan:    #00a4cc;

// stylelint-disable-next-line scss/dollar-variable-default
$colors: (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
);

$primary:       $orange;
$secondary:     $teal;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $white;
$dark:          $black;

// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
);

@import "../node_modules/bootstrap/scss/bootstrap";


// Misc style corrections for our use cases:
a, button {
  background: none;
  border: none;
  cursor: pointer;
}

button.nav-link {
  display: inline-block;
}

button.nav-link:focus {
  outline: none;
}

.container {
  max-width: 800px;
}