div.dotIcon {
    background: rgba(255, 80, 0, 0.1);
    border-radius: 50%;
}

div.dotIcon::before {
    content: ' ';
    display: block;
    background: white;
    border: 2px solid #ff5000;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
}

div.smDot::before {
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
}

div.successDotIcon {
    background: rgba(24, 167, 69, 0.1);
}

div.successDotIcon::before {
    border-color: #28a745;
}

div.processedDotIcon {
    background: rgba(0, 133, 255, 0.1);
}

div.processedDotIcon::before {
    border-color: #007bff;
}

div.problemDotIcon {
    background: rgba(255, 0, 0, 0.1);
}

div.problemDotIcon::before {
    border-color: #ff0000;
}

img.noteImage {
    width: 100%;
    max-height: 50vh;
    object-fit: contain;
    margin: 0 auto;
    display: block
}
